Repository bennettoxford/openprescribing, pull requests merged in 2024-08, with the labels that each got.

#4603 Update all antibacterials measure
  openprescribing/measures/definitions/all_antibiotics.json
  openprescribing/measures/definitions/ktt9_antibiotics.json
Labels: amend-measure

#4756 Amend ktt9_cephalosporins_star.json
  openprescribing/measures/definitions/broad_spectrum_list.json
  openprescribing/measures/definitions/ktt9_cephalosporins_star.json
Labels: amend-measure

#4889 Retire coproxamol.json
  openprescribing/measures/definitions/coproxamol.json
Labels: retire-measure

#4890 Retire ktt12_diabetes_insulin.json
  openprescribing/measures/definitions/ktt12_diabetes_insulin.json
Labels: retire-measure

#4898 Update opioidspercent.json
  openprescribing/measures/definitions/opioidspercent.json
Labels: amend-measure

#4900 Update opioidper1000.json
  openprescribing/measures/definitions/opioidper1000.json
Labels: amend-measure

#4921 Review nhse_lancets.json
  openprescribing/measures/definitions/nhse_lancets.json
Labels: review-measure

#4922 Review pregabalinmg.json
  openprescribing/measures/definitions/pregabalinmg.json
Labels: review-measure

#4923 Review cgm_sensors.json
  openprescribing/measures/definitions/cgm_sensors.json
Labels: review-measure

#4924 Amend environmental_inhalers.json
  openprescribing/measures/definitions/environmental_inhalers.json
Labels: amend-measure

#4927 Review tamoxifen.json
  openprescribing/measures/definitions/tamoxifen.json
Labels: review-measure

#4928 Amend sildenafil.json
  openprescribing/measures/definitions/highcost_ed.json
  openprescribing/measures/definitions/sildenafil.json
Labels: amend-measure

#4929 Update ulipristal.json
  openprescribing/measures/definitions/ulipristal.json
Labels: retire-measure

#4930 Review nimodipine.json
  openprescribing/measures/definitions/nimodipine.json
Labels: review-measure

#4933 Amend seven_day_prescribing.json
  openprescribing/measures/definitions/seven_day_prescribing.json
Labels: amend-measure

#4936 Review carbon_salbutamol.json
  openprescribing/measures/definitions/carbon_salbutamol.json
Labels: review-measure

#4935 Review glutenfree.json
  openprescribing/measures/definitions/glutenfree.json
Labels: review-measure

#4937 Review saba.json
  openprescribing/measures/definitions/saba.json
Labels: review-measure

#4938 Update lpherbal.json
  openprescribing/measures/definitions/lpherbal.json
Labels: review-measure

#4605 Amend ktt9_cephalosporins.json
  openprescribing/measures/definitions/broad_spectrum.json
  openprescribing/measures/definitions/ktt9_cephalosporins.json
Labels: amend-measure

#4934 Review zuclopenthixol.json
  openprescribing/measures/definitions/zuclopenthixol.json
Labels: review-measure

#4941 Retire dipyridamole.json
  openprescribing/measures/definitions/dipyridamole.json
Labels: retire-measure

#4942 Update probiotics.json
  openprescribing/measures/definitions/probiotics.json
Labels: amend-measure

#4954 Update ppidose.json
  openprescribing/measures/definitions/ppidose.json
  openprescribing/measures/definitions/statinintensity.json
Labels: amend-measure
